html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}
#map-canvas {
  height: 100%
}
.gm-style-iw{
    white-space: nowrap;
}
.title {
  font-weight: bold;
}
#pointList {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
ul li {
  display:block;
  text-decoration:none;
  color:#000000;
  background-color:#FFFFFF;
  line-height:30px;
  border-bottom:solid 1px #CCCCCC;
  padding:0 10px;
  cursor:pointer;
}
.selected, ul li:hover {
  color:#FFFFFF;
  background-color:rgb(44,112,237);
}
#list-toggle {
  float: right;
  padding: 5px;
  width: 223px;
  text-align: center;
  font-size: 2.0em;
  background-color: rgb(44,112,237);
  color: white;
  cursor: pointer;
}
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Roboto', sans-serif;
  display: block;
  line-height: 30px;
  font-size: 1.0em;
  margin-left: 39px;
  margin-bottom: -16px;
  width: 86%;
}
#flickr {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -22px;
}
.right {
  float: right;
}
/* lightbox properties */
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
}
.lightbox {
  /*margin-left: -512px;
  margin-top: -288px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: rgba(0,0,0,.5) 4px 4px 10px;
  z-index: 101;
}
.lightbox img {
  display: block;
}
.lightbox a {
  width: 30px;
  border-radius: 100px;
  position: absolute;
  top:-10px;
  right: -10px;
  background-color: rgb(44,112,237);
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}
