html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}
#map-canvas {
  height: 100%
}
.gm-style-iw{
    white-space: nowrap;
}
#pointList {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 25%;
  background-color: navy;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}
